/*
    * Usefull Mixin
    * Reused Mixin
    todo: prefix mixin, flex mixin

*/

/*
    -webkit-box-shadow: 10px 10px 10px #fff
*/

/*
    Generate Vendor Prefixe
*/
@mixin prefixer($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-'+ $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

/*
    limit flex box mixin
*/

@mixin flexer($direction, $justify-c, $align-i) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-c;
  align-items: $align-i;
}

/*
  Grid system
*/

@mixin grider($nColumns, $min-row-height, $row-gap, $column-gap) {
  display: grid;
  grid-template-columns: repeat($nColumns, 1fr);
  grid-auto-rows: minmax($min-row-height, auto);
  row-gap: $row-gap;
  column-gap: $column-gap;
}

/*
    Font face
*/

@mixin fontFace($family, $file-name, $weight, $format) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-display: optional;
    src: url("../assets/fonts/" + $file-name) format($format);
  }
}

/*
  Background Image
*/

@mixin bg-image($isMobile, $image-name) {
  background-image: if(
    $isMobile,
    url("../assets/images/mobile/" + $image-name),
    url("../assets/images/desktop/" + $image-name)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*
  Learn more anchor links
*/

@mixin learnmore-href($color) {
  font-family: $font-family-frances;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: $very-dark-desaturated-blue;
  background-image: linear-gradient(
    120deg,
    rgba($color, 0.3) 0%,
    rgba($color, 0.3) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 88%;
  @include prefixer(
    transition,
    background-image 65ms ease-out,
    webkit moz o ms
  );
  &:hover {
    // background-size: 100% 0.5em;
    background-image: linear-gradient(120deg, $color 0%, $color 100%);
  }
}

/*-----Media Queries-----*/

@mixin mobile {
  @media (min-width: 320px) and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

/*---------Contact Button Style---------------*/
@mixin contactbtn($bgcolor, $bgcolorhover) {
  cursor: pointer;
  background-color: $bgcolor;
  padding: 0.5em 1.3em;
  @include prefixer(border-radius, 25.99px, webkit moz ms o);
  @include prefixer(
    transition,
    background-color 65ms ease-out,
    webkit moz ms o
  );
  a {
    @include prefixer(transition, color 65ms ease-out, webkit moz ms o);
    color: $dark-blue;
    font-weight: 900;
  }
  &:hover {
    background-color: $bgcolorhover;
    a {
      color: $white;
    }
  }
}

/*------Mobile Menu Toggle Style-------*/

@mixin mm-toggle {
  width: 100%;
  font-size: 1.5rem;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  color: $white;
  cursor: pointer;
}

/*------Hover && Transition--------*/

@mixin on-li-hover {
  a:hover {
    @include prefixer(transition, color 65ms ease-out, webkit moz ms o);
  }
  a {
    color: $white;
  }
}
