.header {
  //header
  @include bg-image(false, "image-header.jpg");
  .navbar {
    //nav
    // background-color: #222;

    @include flexer(row, flex-start, center);
    .logo {
      //image
    }
    &__listbar {
      //ul
      list-style-type: none;
      flex: 1;
      // background: #000;
      @include flexer(row, flex-end, center);
      .contact {
        @include contactbtn($white, $monte-carlo);
      }
      li {
        padding: 0 1.5em;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
    &__mobile-menu:hover .mobile-menu__list {
      display: block;
    }
    &__mobile-menu::before {
      content: "";
      width: 5rem;
      height: 3rem;
      background-color: #fff;
      position: absolute;
      top: 3rem;
      display: none;
    }
    &__mobile-menu {
      display: none;
      .mobile-menu__list {
        display: none;
        width: 90%;
        z-index: 1;
        position: absolute;
        top: 4em;
        left: 50%;
        @include prefixer(transform, translateX(-50%), webkit moz ms o);
        list-style-type: none;
        background-color: #fff;
        text-align: center;
        padding: 1.5em 0;
        li {
          padding: 0.75em 0;
          a {
            text-decoration: none;
            color: $very-dark-desaturated-blue;
          }
        }
        .contact {
          width: 25%;
          @include contactbtn($yellow, $monte-carlo);
          margin: 0 auto;
        }
      }
    }
  }

  .hero {
    //div
    // background-color: #fe2;
    min-height: 650px;
    &__title {
      padding-top: 7rem;
      color: $white;
    }
    .tobottom_arrow {
      padding-top: 5.5em;
      display: flex;
      justify-content: center;
      .tailarrow {
        display: block;
        height: 8rem;
        width: 0.3rem;
        background-color: $white;
        position: relative;
        i {
          font-size: 4rem;
          color: $white;
          position: absolute;
          bottom: -1.5rem;
          right: -50%;
          @include prefixer(transform, translateX(38%), webkit moz ms o);
        }
      }
    }
  }
}

/*----End Header----*/

/*----Start Skills Section----*/
.skills {
  // background-color: #000;
  .wrapper {
    @include grider(2, 40rem, 0, 0);

    .boxshow {
      position: relative;
      .bottom-transform {
        @include flexer(column, center, center);
        width: 50%;
        position: absolute;
        bottom: 5%;
        left: 50%;
        @include prefixer(transform, translateX(-50%), webkit moz ms o);
        h3 {
          font-size: 2.8rem;
          font-family: $font-family-frances;
          font-weight: 900;
        }
        p {
          font-family: $font-family-barlow;

          margin: 1.5em 0;
          color: $dark-blue;
          line-height: 1.5em;
          text-align: center;
        }
      }
    }

    .transform {
      @include flexer(column, center, center);

      width: 60%;
      margin: 0 auto;
      h3 {
        font-size: 3.25rem;
        font-family: $font-family-frances;
        font-weight: 900;
        color: $very-dark-desaturated-blue;
        text-align: left;
        width: 100%;
      }
      p {
        font-family: $font-family-barlow;
        color: $very-dark-desaturated-blue;
        margin: 2rem 0;
        color: $dark-blue;
        line-height: 1.5rem;
      }
      .learnmore_container {
        width: 100%;
        a.yellow {
          @include learnmore-href($yellow);
        }
        a.blue {
          @include learnmore-href($grayish-blue);
        }
      }
    }
    .bg-eggs {
      @include bg-image(false, "image-transform.jpg");
    }
    .bg-cup {
      @include bg-image(false, "image-stand-out.jpg");
    }
    .bg-cherris {
      @include bg-image(false, "image-graphic-design.jpg");
      .bottom-transform {
        //overide colors
        h3,
        p {
          color: $very-dark-desaturated-blue;
        }
      }
    }
    .bg-orange {
      @include bg-image(false, "image-photography.jpg");
      .bottom-transform {
        //overide colors
        h3,
        p {
          color: $dark-blue;
        }
      }
    }
  }
}

/*----End Skills Section ----*/

/*----Start Skills Section 🙋----*/

.testimonials__container {
  padding: 9em 5em;
  .testimonials__title {
    font-size: 2.5rem;
    color: $dark-moderate-cyan;
  }

  .cards_container {
    @include grider(3, 0, 0, 1em);
    .testimonials__card {
      @include flexer(column, center, center);

      .card__img {
        width: 5.9375rem;
        @include prefixer(border-radius, 100%, webkit moz ms o);
        margin: 3.125em auto;
      }

      .card__paragraph {
        width: 65%;
        text-align: center;
      }

      .card__person {
        margin-top: 3.125em;
        text-align: center;
        .person__name {
          font-weight: bold;
          margin-bottom: 0.6em;
        }
        .person__title {
          color: $very-dark-grayish-blue;
          font-weight: normal;
          text-transform: capitalize;
        }
      }
    }
  }
}

/*----End Skills Section 🙋----*/
/*----Start Gallery Section 😎----*/

.gallery {
  &__container {
    @include grider(4, 0, 0, 0);
    img {
      width: 100%;
    }
  }
}

/*----End Gallery Section 😎----*/
/*----Start Footer 🙋----*/

.footer {
  background-color: $monte-carlo;
  color: $paradiso;
  &__container {
    padding: 5em;
    h2 {
      text-transform: lowercase;
      font-size: 3rem;
    }
    .list {
      width: 25%;
      list-style-type: none;
      margin: 2em auto;
      @include flexer(row, space-around, center);
      &__item {
        &:hover {
          @include on-li-hover();
        }
        a {
          text-decoration: none;
          color: $paradiso;
        }
      }
    }

    .socials {
      width: 15%;
      list-style-type: none;
      margin: 4em auto 0 auto;
      @include flexer(row, space-around, center);
      font-size: 1.5rem;
      li {
        &:hover {
          @include on-li-hover();
        }
        a {
          color: $paradiso;
        }
      }
    }
  }
}

/*------Media Queries----------*/

/*-----!Mobile First 🤫---------*/

@include mobile {
  /*-----Start NAVBAR------*/
  .header {
    //header
    @include bg-image(true, "image-header.jpg");
  }
  .navbar {
    &__listbar {
      display: none !important;
    }
    &__mobile-menu {
      @include mm-toggle();
    }
  }
  /*-----Start HERO------*/
  .hero {
    &__title {
      padding-top: 15em;
    }

    .tobottom_arrow {
      padding-top: 6em !important;
    }
  }

  /*-----Start SKILLS------*/
  .skills {
    .wrapper {
      @include grider(1, 40rem, 0, 0);
      .transform {
        width: 80%;
        h3 {
          font-size: 3rem;
        }
      }
      .boxshow {
        .bottom-transform {
          @include flexer(column, center, center);
          width: 80%;
        }
      }

      .bg-eggs {
        @include bg-image(true, "image-transform.jpg");
      }
      .bg-cup {
        @include bg-image(true, "image-stand-out.jpg");
      }
      .bg-cherris {
        @include bg-image(true, "image-graphic-design.jpg");
      }
      .bg-orange {
        @include bg-image(true, "image-photography.jpg");
      }
    }
  }

  /*-----Start Testimonials------*/
  .testimonials__container {
    padding: 5em 2em;
    .cards_container {
      @include grider(1, 0, 0, 1em);
      .card__paragraph {
        width: 100% !important;
      }
      .card__img {
        margin: 2.5em auto !important;
      }

      .card__person {
        margin-top: 2.5em !important;
      }
    }

    .testimonials__title {
      text-align: center;
      font-size: 2rem;
    }
  }

  /*-----Start Testimonials------*/
  .gallery {
    &__container {
      @include grider(2, 0, 0, 0);
    }
  }

  /*-----Start Footer------*/
  .footer {
    &__container {
      .list {
        width: 100%;
        li {
          padding: 0 1em;
        }
      }
      .socials {
        width: 100%;
      }
    }
  }
}

/*-----!Tablet First 😗---------*/

@include tablet {
  /*-----Start NAVBAR------*/
  .navbar {
    &__listbar {
      display: none !important;
    }
    &__mobile-menu {
      @include mm-toggle();
    }
  }
  /*-----Start HERO------*/
  .hero {
    &__title {
      padding-top: 7rem;
    }

    .tobottom_arrow {
      padding-top: 3em !important;
    }
  }

  /*-----Start SKILLS------*/
  .skills {
    .wrapper {
      @include grider(1, 40rem, 0, 0);
      .transform {
        width: 80%;
        h3 {
          font-size: 3rem;
        }
      }
      .boxshow {
        .bottom-transform {
          @include flexer(column, center, center);
          width: 80%;
        }
      }
    }
  }

  /*-----Start Testimonials------*/
  .testimonials__container {
    padding: 5em 2em;
    .cards_container {
      @include grider(2, 0, 0, 1em);
      .card__paragraph {
        width: 100% !important;
      }
      .card__img {
        margin: 2.5em auto !important;
      }

      .card__person {
        margin-top: 2.5em !important;
      }
    }

    .testimonials__title {
      text-align: center;
      font-size: 2.5rem;
    }
  }

  /*-----Start Testimonials------*/
  .gallery {
    &__container {
      @include grider(2, 0, 0, 0);
      img {
        width: 100%;
      }
    }
  }

  /*-----Start Footer------*/
  .footer {
    &__container {
      .list {
        width: 40%;
        &__item {
          padding: 0 1em;
        }
      }
      .socials {
        width: 40%;
      }
    }
  }
}
